body {
    margin: 0;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: Raleway;
    src: url("/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf");
    font-family: Raleway;
    font-weight: bold;
    src: url("/fonts/raleway/Raleway-VariableFont_wght.ttf");
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Button*/

button {
    background-color: green;
    border-radius: 4px;
    border: none;
    color: white;
    height: 32px;
    width: 120px;
    box-shadow: 1px 1px 2px 1px black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(2, 117, 2);
}

/*Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 4px 1px lightgray;
}

#naviLogoHeader {
    margin-left: 160px;
    display: flex;
    align-items: center;
}

#naviImage {
    height: 80px;
}

#naviLinks {
    margin-bottom: 4px;
    margin-right: 160px;
    gap: 24px;
    display: flex;
    align-items: flex-end;
}

#responsiveNavLinks {
    display: none;
}

#menuButtonPosition {
    display: none;
}

/*Header*/
header {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

#headerImage {
    height: 220px;
    border-radius: 8px;
}

#headerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
}

/*Main*/
main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#mainContainerOne {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    text-align: center;
    padding-top: 40px;
}

#mainContainerOneBoxes {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#mainContainerOneImages {
    height: 160px;
    width: 180px;
    border-radius: 8px;
}

#mainContainerTwo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

#mainContainerTwoBox {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 40px;
    text-align: start;
    gap: 24px;
}

#mainContainerTwoImage {
    height: 160px;
    width: 180px;
    border-radius: 8px;
}

/*Footer*/
footer {
    width: 100%;
    height: 100px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#naviLogoFooter {
    margin-left: 160px;
    display: flex;
    align-items: center;
}

#footerIconContainer {
    margin-right: 160px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

#footerIcon {
    height: 48px;
}

#datenschutzLink {
    display: flex;
    justify-content: center;
}

/*Responsive Menu*/

.content {
    position: relative;
    overflow-x: hidden;
}

.resp_menu_box {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 180px;
    height: 250px;

    position: absolute;
    top: 100px;
    right: 0;

    transition: all 125ms ease-in-out;
}

.resp_menu_closed {
    transform: translateX(100%);
}

#respMenuButton {
    display: none;
}

#respMenuText {
    display: none;
}

@media (max-width: 1000px) {
    #naviLogoHeader {
        margin-left: 80px;
    }

    #naviLinks {
        margin-right: 80px;
        gap: 16px;
    }

    header {
        margin-left: 80px;
        margin-right: 80px;
    }

    #mainContainerOneBoxes {
        margin-left: 80px;
        margin-right: 80px;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
    }

    #mainContainerTwoBox {
        margin-left: 80px;
        margin-right: 80px;
        gap: 24px;
        justify-content: center;
    }

    #naviLogoFooter {
        margin-left: 80px;
    }
}

@media (max-width: 800px) {
    #naviLinks {
        display: none;
    }

    #respMenuButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        font-size: large;
        font-weight: bold;
        background-color: lightgray;
    }

    #respMenuText {
        display: flex;
    }

    #naviLogoHeader {
        margin-left: 40px;
        display: flex;
        justify-content: center;
    }

    header {
        margin-left: 40px;
        margin-right: 40px;
    }

    #mainContainerOneBoxes {
        margin-left: 40px;
        margin-right: 40px;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
    }

    #mainContainerTwoBox {
        margin-left: 40px;
        margin-right: 40px;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }

    #responsiveMenu {
        display: block;
        position: relative;
    }

    #menuButtonPosition {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        gap: 12px;
    }

    #naviLogoFooter {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    #footerIconContainer {
        display: none;
    }

    #datenschutzLink {
        display: none;
    }
}


@media (max-width: 700px) {
    #naviLogoHeader {
        margin-left: 40px;
    }

    #menuButtonPosition {
        margin-right: 40px;
    }

    #mainContainerOneBoxes {
        margin-left: 40px;
        margin-right: 40px;
        display: block;
        text-align: center;
    }

    #mainContainerTwoBox {
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    #footerIconContainer {
        margin-right: 40px;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #headerText {
        margin-left: 0;
        align-items: center;
    }

    #headerImage {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #mainContainerTwoImage {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 530px) {
    #naviLogoHeader {
        margin-left: 8px;
    }

    #naviImage {
        height: 64px;
    }

    #naviLinks {
        margin-right: 16px;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        position: absolute;
        top: 100px;
        right: 0;
        width: 200px;
        box-shadow: 0 2px 4px 1px lightgray;
        padding: 16px;
        display: none;
    }

    header {
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    #mainContainerOneBoxes {
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        align-items: center;
    }

    #mainContainerTwoBox {
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        align-items: center;
    }

    #menuButtonPosition {
        margin-right: 8px;
    }
}
